.App {
  text-align: center;
  padding: 10px;
}

body {
  background-color: black;
  color: red;
}

.AppTitle {
  font-size: 25px;
  font-weight: bold;
}

.profile {
  display: flex;
  justify-content: center;
}

.profileInfo {
  margin-left: 15px;
  
}

.profileName {
  font-size: 32px;
  font-weight: bold;
}

.profileFollowers .profileGenre {
  font-size: 20px;
}

.profileImage {
  width: 175px;
  height: 175px;
  border: 5px solid red;
  border-radius: 75px;
  object-fit: cover;
}